main {
    padding-top: 35px;
    padding-left: 250px;
    padding-right: 250px;
}
#MainTable, #ClubInfoTD, #ActivityTD, table, td, th {
    border: 0px solid black;
    table-layout: fixed;
    display: block;
    position: relative;
}
#MainTable {
    max-width: 1000px;
    width: 100%;
}
#ClubInfo {
    max-width: 700px;
    width: 100%;
}
#ClubImage {
    max-width: 695px;
    margin: auto;
    display: block;
    position: relative;
}
#ActivityFeed {
    max-width: 300px;
    column-width: 300px;
}
.ClubInfoTD, th {
    width: 100%;
    column-width: 100%;
    display: block;
}