main {
    padding-top: 35px;
    padding-left: 250px;
    padding-right: 250px;
}
table, td, th {
    border: 1px, solid black;
    table-layout: fixed;
    position: relative;
}
#ClubImage {
    max-width: 600px;
}
#ActivityTD, td {
    max-width: 300px;
    column-width: 300px;
}
.ClubInfoTD, th {
    width: 100%;
    column-width: 100%;
}